@import "tailwindcss";

@theme {
  --color-primary: var(--primary);
  --color-dark: var(--dark);
  --color-medyolight: var(--medyolight);
  --color-light: var(--light);
  --color-brown: var(--brown);
}

:root {
  font-family: poppins;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: #1E1E1E;
  background-color: #F2F2F7;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --primary: #1B56FD;
  --dark: #1E1E1E;
  --light: #F2F2F7;
  --medyolight: #3D3D3D;
  --brown: #262016;
}
h1 {
  font-size: clamp(6rem, 6vw, 8rem);
  font-weight: 700; 
  line-height: 1.1; 
}
h2 {
  font-size: clamp(2rem, 6vw, 3.5rem);
  line-height: 1.1; 
}
h3 {
  font-size: clamp(2rem, 6vw, 2.2rem);
  line-height: 1.1; 
}
h4 {
  font-size: clamp(1rem, 6vw, 2rem);
  line-height: 1.1; 
}
h6{
  font-size: clamp(2rem, 3vw, 2.5rem);
}
p{
  font-size: clamp(1rem, 6vw, 1.2rem);
}

@keyframes slide {
    from {
      transform: translateX(-100%);
    }
    to {
      transform: translateX(0);
    }
  }

